.answers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.questions-container {
    padding: 2%;
    background-color: #002133;
}

input[type="radio"] {
    visibility:hidden;
}

form {
    padding: 1%;
    background-color: #003049;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding: 2%;
    background-color: #001520;
}

body {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: bisque;
}